
{% extends 'dashboard/index.html' %}

{% block stock %}

<div class="container mx-auto px-4 py-8 shadow-2xl my-40">
    <h1 class="text-3xl font-bold mb-6">Stocks</h1>

    <div class="overflow-x-auto">
        <table class="table table-zebra w-full">
            <thead>
                <tr>
                    <th class="bg-primary text-primary-content">Product Name</th>
                    <th class="bg-primary text-primary-content">Last Checked</th>
                    <th class="bg-primary text-primary-content">Units in stock</th>
                    <th class="bg-primary text-primary-content">Units Sold</th>
                    <th class="bg-primary text-primary-content">Add</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr class="hover:bg-gray-100">
                    <td>{{ item.product_inventory }}</td>
                    <td>{{ item.last_checked }}</td>
                    <td>{{ item.units }}</td>
                    <td>{{ item.units_sold }}</td>
                    <td><input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" /></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}


